.button-bar {
	padding-top: 20px;
}

.select-role {
	border: 1px #ced4da solid;
	border-radius: 4px;
	padding: 8px;
	background-color: white;
	color: #747373;
	width: 40%;
}

.max-height-profile-pic-manage-users {
    max-height: 30px;
    margin: 0 0 0 0;
    width: auto;
}

  /* Styles for the table header */
  .table-header, .table-row {
	display: grid;
	grid-template-columns: 50px 50px 80px 140px 100px 200px 120px 130px 80px 150px; /* adjust as needed */
	padding: 10px 0;
  }

  .column {
	display: flex;
	align-items: center !important;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
  }

  /* Style for the profile picture */
  .max-height-profile-pic-manage-users {
	max-height: 50px; /* Adjust the max height as needed */
	border-radius: 50%; /* To make it round */
	object-fit: cover; /* Ensure the image covers the container */
  }
  
  /* Additional styles for buttons or other elements */
  /* (You may need to adjust these based on your design) */
  .button-container {
	display: flex;
	justify-content: space-between;
	gap: 8px;
  }

  .spacer {
	padding-bottom: 40px;
  }

  .mobile-table-header {	
	display: none;
  }

@media (max-width: 900px) {
	.mobile-table-body {
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 0;
		margin-bottom: 50px;
    }

    .column {
	  min-height: 60px !important;
	  padding-bottom: 0;
    }
  
    .mobile-table-header, .table-row {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		padding: 0;
    }

    .mobile-table-header div, .table-row div {
		line-height: 30px;
		display: flex;
		align-items: center;
    }

    .table-header {
		display: none;
	}

	.mobile-dropdown {
		display: none !important;

	}

	.mobile-dropdown.visible {
        display: block !important; 
    }

}