.modal-activate {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  color: black !important;
}

.modal-activate-main {
  position:fixed;
  background: white;
  width: 440px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

@media screen and (max-width: 600px) {
  .modal-activate-main {
    width: 80%;
  }
}