.login-card {
    position: relative;
    z-index: 2;
    height: 60vh;
    width: 80vh;
    margin: auto;
    display: flex;
	flex-direction: column;
}

.registerMessage {
    margin-top: 10vh;
}

.Login-form {
    color: black !important;
}

.registerMessage {
    color: black !important;
}

.login-form-spacer {
    height: 10px;
}

@media screen and (max-width: 800px) {
    .login-card {
        width: 100%;
    }

    .form-control, .registerMessage {
        width: 90% !important;
    }

}
