body {
  background-color: black;
}

.App-background {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0px;
  right: 0px;
  border: none;
  z-index: -1002;
  background-image: url("./52311-background.png");
  background-repeat: no-repeat;
}

.App-logo-header {
  background-color: transparent;
  padding-top: 20px;
}

.App {
  color: white;
  overflow-y: auto;
}

.App-copyright {
  color:white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
  position: fixed;
  z-index: -999;
  bottom: 0px;
  width: 100%;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.animated-card 
{
	position: relative;
	background: #1c1c1c;
  width: 82vh;
  min-height: 62vh;
	border-radius: 8px;
	overflow: hidden;
}

.animated-card::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
  width: 62vh;
  min-height: 62vh;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
}

.animated-card::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
  width: 62vh;
  min-height: 62vh;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-screen img {
  width: 100px;
  height: 100px;
}

.App-license-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #1c1c1c;
  color: white;
  font-size: 15px;
  z-index: 1000;
}