/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.menu > a{
  text-decoration: none;
  color: black;
  padding-right: 2em;
}

.menu a.active{
  text-decoration: none;
  color: blue;
  padding-right: 2em;
}
.disabled {
  filter: brightness(0.8);
}