.verification-card {
    position: relative;
    z-index: 2;
    height: 100px;
    width: 60vh;
    margin: auto;
    display: flex;
	flex-direction: column;
}

.verificationText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.animated-card-verification
{
	position: relative;
	background: #1c1c1c;
    width: 62vh;
    height: 116px;
	border-radius: 8px;
	overflow: hidden;
}

.animated-card-verification::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
    width: 62vh;
    height: 116px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
}

.animated-card-verification::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
    width: 62vh;
    height: 116px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}