  /* Styles for the table header */
.table-header-domains, .table-row-domains {
  display: grid;
  grid-template-columns: 50px 150px 150px 100px 150px 150px 120px 130px; /* adjust as needed */
  padding: 8px;
  line-height: 30px; /* height of the div */;
}

.column_domains {
  display: flex;
  align-items: center;;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
  
.table-header-domains{
    padding-top: 60px;
}
    
.column_domains {
  display: flex;
  align-items: center;;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
    
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
    
.spacer {
  padding-bottom: 40px;
}
    
@media (max-width: 900px) {
  .mt-3 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 500px auto;
      padding: 0;
  }
    
  .column_domains {
      height: 60px;
  }
      
  .table-header-domains, .table-row-domains {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 60px);
      width: 100%;
      align-items: center;
  }

  .table-row-domains {  
      margin-bottom: 50px;
  }
    
  .table-header-domains div, .table-row-domains div {
      padding: 8px 0;
      line-height: 30px;
      display: flex;
      align-items: center;
  }

  .table-header-domains{
        padding-top: 8px;
  }
    
  .mobile-dropdown {
      display: none !important;
  }
    
  .mobile-dropdown.visible {
      display: block !important; 
  }
      
}
