.reset {
    padding-bottom: 20px;
}

.reset-card {
    position: relative;
    z-index: 2;
    min-height: 60vh;
    width: 80vh;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
	flex-direction: column;
    margin-bottom: 1vh;
}

.registerMessage {
    margin-top: 10vh;
}

.Reset-form {
    padding-top: 40px;
}