/* Styles for the table header */
  .table-header-roles, .table-row-roles {
    display: grid;
    grid-template-columns: 50px 200px 200px 1fr; /* adjust as needed */
    padding: 10px 0;
  }

  .column-actions-roles {
    display: flex;
    align-items: center;;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  .mobile-table-header-roles {
    display: none;
  }

@media (max-width: 900px) {
    .mobile-table-body-roles {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 0;
      margin-bottom: 50px;
    }

    .column-actions-roles {
      min-height: 60px !important;
      padding-bottom: 0;
    }
    
    .mobile-table-header-roles, .table-row-roles  {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      padding: 0;
      }

    .mobile-table-header-roles div, .table-row-roles div {
      line-height: 30px;
      display: flex;
      align-items: center;
      }

    .table-header-roles {
      display: none;
    }  
}